<% layout('layouts/boilerplate') %>
<h1>All Campgrounds</h1>
<p>
  <a href="/campgrounds/new">Add new</a>
</p>
<% for (let campground of campgrounds) { %>
<li>
  <a href="/campgrounds/<%= campground._id %>"> <%= campground.title %> </a>
</li>
<% } %>
