<% layout('layouts/boilerplate') %>
<h1><%= campground.title %></h1>
<h2><%= campground.location %></h2>
<p>
  <a href="/campgrounds/<%= campground.id%>/edit">Edit</a>
</p>
<form action="/campgrounds/<%= campground.id%>?_method=DELETE" method="POST">
  <button>Delete</button>
</form>
<footer>
  <a href="/campgrounds">All Campgrounds</a>
</footer>
